* {
    color: white;
}
body {
    background-color: rgb(12, 12, 12);
}
.linkk {
    
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 5px 10px;
}
.lin {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    justify-content: center;
    align-items: center;
}
.logo {
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    margin: 6px;
    color: rgb(250, 129, 0);
    
}

header {
    background-color: rgb(38, 38, 38);
    border-radius: 15px;
    display: flex;
}
a {
    text-decoration: none;
}

.products {
    display: flex;
    
    align-self: center;
    flex-wrap: wrap;
    
    background-color:  rgb(38, 38, 38);
    min-width: 10px;
    min-height: 500px;
    margin-top: 10px;
    border-radius: 15px;
}
.card {
    
    max-width: 40vw;
    width: 28vw;
    background: linear-gradient(hsl(41, 100%, 11%),
     hsl(41, 100%, 17%));
    border: hsl(41, 100%,0%) solid 2px;
    padding: 2rem;
    border-radius: 2rem;
    transition: transform .3s ease-out;
    height: 42vw;
    margin: 0.2rem;
    
    &:hover {
        transform: scale(1.02);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
}
.card-img-wrapper {
    display: flex;
    justify-content: center;
    height: 100px; /* Фиксированная высота для обёртки */
    margin-top: -20px;
    margin-bottom: -10px;
}
.card-img {
    justify-self: center;
    display:  block;
    position: relative;
    transform: translateY(-20px); /* Вместо top + margin-bottom */
    margin-bottom: -10px; /* Минимальная компенсация */

    width: 150px;
    height: 150px;
    border-radius: 1rem;
    
    border: 2px solid black;
}
.card-el {
    display: grid;  /* Меняем flex на grid */
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;  /* Одна колонка на всю ширину */
    row-gap: 0.5rem;
    margin-top: 0.1rem;
}
.card-title {
    
    font-size: 1.2rem;
    justify-self: top;
    text-align: center;  /* Центрируем текст */
    word-wrap: break-word;  /* Переносим длинные слова */
    overflow-wrap: break-word;

}
@media (min-width: 950px) {
    .card {
        width: 30vw;
    }
}
